body{
    background-color: cadetblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.card-square {
    background-color: #588157;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 1150px;
    flex: row;
    flex-wrap: wrap;
}

.card-square__elem1 {
    display: flex;
    background-color: rgb(84, 151, 209);
    border-radius: 8px;
    margin: 20px 20px 0px 20px;
    width: 470px;
    height: 160px;
    flex-direction: row;
    align-items: flex-end;
}

.card-square__elem2 {
    display: flex;
    background-color: rgb(84, 151, 209);
    border-radius: 8px;
    margin: 20px 20px 0px 20px;
    width: 470px;
    height: 160px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.card-square__elem3 {
    display: flex;
    background-color: rgb(84, 151, 209);
    border-radius: 8px;
    margin: 0px 20px 0px 20px;
    width: 470px;
    height: 160px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.card-square__elem4 {
    display: flex;
    background-color: rgb(84, 151, 209);
    border-radius: 8px;
    margin: 0px 20px 0px 20px;
    width: 470px;
    height: 160px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.card-square__elem5 {
    display: flex;
    background-color: rgb(84, 151, 209);
    border-radius: 8px;
    margin: 0px 20px 20px 20px;
    width: 470px;
    height: 160px;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-square__elem6 {
    display: flex;
    background-color: rgb(84, 151, 209);
    border-radius: 8px;
    margin: 0px 20px 20px 20px;
    width: 470px;
    height: 160px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-square__container {
    background-color: aqua;
    margin: 20px;
    border-radius: 4px;
    min-width: 78px;
    min-height: 78px;
}

.card-square__container1 {
    background-color: aqua;
    margin: 20px;
    border-radius: 4px;
    min-width: 78px;
    min-height: 78px;
    justify-self: flex-end;
    align-self: flex-end;
}

.card-square__container2 {
    background-color: aqua;
    margin: 20px;
    border-radius: 4px;
    min-width: 78px;
    min-height: 78px;
    justify-self: center;
    align-self: center;
}

.card-square__container3 {
    background-color: aqua;
    margin: 20px;
    border-radius: 4px;
    min-width: 78px;
    min-height: 78px;
    flex-grow: 2;
}

.card-circle {
    background-color: #a3b18a;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 1150px;
}

.card-circle__elem1 {
    display: flex;
    background-color: #344e41;
    border-radius: 8px;
    margin: 20;
    width: 273px;
    height: 220px;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card-circle__elem2 {
    display: flex;
    background-color: #344e41;
    border-radius: 8px;
    margin: 20px;
    width: 273px;
    height: 220px;
    flex-direction: row-reverse;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
}

.card-circle__elem3 {
    display: flex;
    background-color: #344e41;
    border-radius: 8px;
    margin: 20px;
    width: 273px;
    height: 220px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-circle__elem4 {
    display: flex;
    background-color: #344e41;
    border-radius: 8px;
    margin: 20px;
    width: 273px;
    height: 220px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.card-circle__elem5 {
    display: flex;
    background-color: #344e41;
    border-radius: 8px;
    margin: 20px;
    width: 273px;
    height: 220px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card-circle__container {
    background-color: aqua;
    margin: 20px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 25px 25px;
}